*{
  margin: 0;
  padding: 0;
  // box-sizing: border-box;
}


.game{
  width: 700px;
  height: 484px;
}

img{
  display: block;
  float: left;
  transition: 0.5s;
}

.result{
  display: none;
  position: absolute;
  top: 50px;
  left: 710px;
  font-size: 50px;
  font-family: sans-serif;
}